* {
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

body {
  max-height: 100vh;
  min-width: 100%;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 120px;
  pointer-events: none;
  color: #ffffff;
  background: transparent;
}
